# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/stories/Button.js
src/stories/Button.stories.js
src/stories/Header.js
src/stories/Header.stories.js
src/stories/Introduction.stories.mdx
src/stories/Page.js
src/stories/Page.stories.js
src/stories/assets/
src/stories/button.css
src/stories/header.css
src/stories/page.css
